<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ae0ad">  <td>19/08/06 16:56:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OtherControlTypes.DropDownUse()[pri:0, instance:OtherControlTypes@6d00a15d]">DropDownUse</td> 
  <td>main@1006485584</td>   <td></td> </tr>
<tr bgcolor="6ae0ad">  <td>19/08/06 16:56:12</td>   <td>1050</td> <td>&nbsp;</td><td title="&lt;&lt;OtherControlTypes.aftermethod()[pri:0, instance:OtherControlTypes@6d00a15d]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1006485584</td>   <td></td> </tr>
<tr bgcolor="6ae0ad">  <td>19/08/06 16:56:06</td>   <td>-5111</td> <td>&nbsp;</td><td title="&gt;&gt;OtherControlTypes.beforemethod()[pri:0, instance:OtherControlTypes@6d00a15d]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1006485584</td>   <td></td> </tr>
</table>
